In [1]:
vechile = {"aeroplane", "ship", "thar"}
print(vechile)

{'ship', 'thar', 'aeroplane'}

In [2]:
type(vechile)

set

In [3]:
vechile.add("thar")

In [4]:
vechile

{'aeroplane', 'ship', 'thar'}

In [5]:
for i in vechile:
    if i == "aeroplan":
        print("present")

In [6]:
print("auto" in vechile)

False

In [7]:
car = {"maruti", "mahindra"}

In [8]:
car = car.union(vechile)

In [9]:
car

{'aeroplane', 'mahindra', 'maruti', 'ship', 'thar'}

In [10]:
vechile.update(car)

In [11]:
vechile

{'aeroplane', 'mahindra', 'maruti', 'ship', 'thar'}

In [12]:
# delete function
vechile.remove("maruti")

In [13]:
vechile

{'aeroplane', 'mahindra', 'ship', 'thar'}

In [14]:
vechile.pop()

'mahindra'

In [15]:
vechile.clear()

In [16]:
vechile

set()

In [17]:
vechile.add("aero")

In [18]:
a = {1, 2, 3}
b = {6, 7, 8}

In [19]:
a = a.union(b)

In [20]:
a

{1, 2, 3, 6, 7, 8}

In [21]:
a.intersection(b)

{6, 7, 8}

In [22]:
a.symmetric_difference_update(b)

In [23]:
a

{1, 2, 3}

In [24]:
a = {1, 2, 3, 4}
b = {3, 5, 6}
c = a.symmetric_difference(b)

In [25]:
c

{1, 2, 4, 5, 6}

In [26]:
a.symmetric_difference_update(b)

In [27]:
a

{1, 2, 4, 5, 6}

# dictionary

In [28]:
ipl = {"team": "CSK", "Year": 2008, "color": "yellow", "Year": 2025}

In [29]:
ipl.pop("Year")

2025

In [30]:
ipl.popitem()

('color', 'yellow')

In [31]:
ipl

{'team': 'CSK'}

In [32]:
ipl

{'team': 'CSK'}

In [33]:
ipl["cap"] = "rohit"

In [34]:
ipl.update({"cap": "shubh"})

In [35]:
ipl

{'team': 'CSK', 'cap': 'shubh'}

In [36]:
ipl["Year"]

KeyError: 'Year'

In [ ]:
ipl.keys()

dict_keys(['team', 'Year', 'color'])

In [ ]:
ipl.values()

dict_values(['CSK', 2008, 'yellow'])

In [ ]:
ipl1 = {"c": "red"}

In [ ]:
ipl

{'team': 'CSK', 'Year': 2025, 'color': 'yellow'}

In [ ]:
ipl.update(ipl1)

In [ ]:
ipl

{'team': 'CSK', 'Year': 2025, 'color': 'yellow', 'c': 'red'}

In [ ]:
ipl.update({"cap": "rutu"})

In [ ]:
ip

{'team': 'CSK', 'Year': 2008, 'color': 'blue', 'c': 'red', 'cap': 'rutu'}

In [ ]:
ipl["color"] = "blue"

In [ ]:
ipl

{'team': 'CSK', 'Year': 2008, 'color': 'blue'}

In [ ]:
a = ipl["color"]

In [ ]:
ipl["Year"]

2025

In [ ]:
ipl["color"]

'yellow'

In [ ]:
ipl

{'team': 'CSK', 'Year': 2025, 'color': 'yellow'}

In [ ]:
ipl.update({"color": "blue"})

In [ ]:
ipl

{'team': 'CSK', 'Year': 2025, 'color': 'blue'}

In [ ]:
ipl.update({"cap": "rutu"})

In [ ]:
# dict function
ipl = dict(team="CSK", Year=2008, color="yellow")

In [ ]:
ipl

{'team': 'CSK', 'Year': 2008, 'color': 'yellow'}

In [1]:
dict1 = {"name": "shubh", "marks": {"english": 24, "math": 23, "c++": 26}, "Year": 2026}

In [2]:
dict1

{'name': 'shubh',
 'marks': {'english': 24, 'math': 23, 'c++': 26},
 'Year': 2026}

In [3]:
dict1.keys()

dict_keys(['name', 'marks', 'Year'])

In [8]:
dict1["marks"]["english"] = 25

In [11]:
dict1["marks"].values()

dict_values([25, 23, 26])

# function

In [13]:
def sum(a, b):
    return a + b

In [14]:
sum(12, 13)

25

In [28]:
def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact = fact * i
    print(fact)

In [32]:
factorial(4)

24

In [34]:
def hcf(a,b):
    hcf=0;
    for i in range(1,min(a,b)+1):
        if a%i==0 and b%i==0:
            hcf=i;
    print(hcf)

In [36]:
hcf(20,50)

10

In [37]:
def name(fname, lname):
    print(f"first name :{fname} \nlname:{lname}")

In [38]:
name('shubh','kush')

first name :shubh
lname:kush

In [41]:
def name(fname):
    print(fname)
    def lname():
        print("hell")
    lname()

In [42]:
name("shubh")

shubh
hell

In [43]:
name

In [44]:
--help

TypeError: bad operand type for unary -: '_Helper'

In [45]:
help

Type help() for interactive help, or help(object) for help about object.